<!DOCTYPE html>
<html>
    <head>
        <title>投票页面</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="./css/default.css">
    </head>

    <body>
        <main class="form-signin w-100 m-auto">
            <form>
              
              <h1 class="h3 mb-3 fw-normal">投票选项</h1>
          
              <div class="form-floating">
                <input type="address" class="form-control" id="floatingInput" placeholder="地址:0x">
                <label for="floatingInput">您的投票目标的代表地址</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingNum" placeholder="票数">
                <label for="floatingNum">要给他的票数(默认为1)</label>
              </div>
          
              
              <button class="w-100 btn btn-lg btn-primary" type="submit">投票</button>
              
            </form>
          </main>
    </body>






</html>